<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="volver()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="text-white">Desempeño de grupos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll">
    <ion-row class="margin-contenedor">
        <ion-col [size]="12" class="ion-no-padding ion-no-margin" *ngIf="!sinReportes">
            <ion-grid class="ion-no-padding ion-no-margin desenfoque">
                <ion-row>
                    
                    <ion-item class="ion-no-margin ion-no-padding">
                        <ion-col [size]="2" class="display-flex">
                            <p class="text-white margin-auto">Grupo</p>
                        </ion-col>
                        <ion-col [size]="4">
                            <ion-row>
                                <ion-col class="display-flex">
                                    <p class="text-white margin-auto" >Aciertos</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="display-flex" >
                                    <p class="text-white margin-auto">Exactos</p>
                                </ion-col>
                                <ion-col class="display-flex" >
                                    <p class="text-white margin-auto">Parcial</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col [size]="2" class="display-flex">
                            <p class="text-white margin-auto">No aciertos</p>
                        </ion-col>
                        <ion-col [size]="4" class="display-flex">
                            <p class="text-white margin-auto">Total pronosticados</p>
                        </ion-col>
                    </ion-item>
                </ion-row>
                
                <ion-row *ngFor="let grupo of gruposReport; let i = index">
                    <ion-item class="ion-no-margin ion-no-padding">
                        <ion-col [size]="0.5" class="display-flex">
                            <p class="text-white margin-auto">{{i+1}}</p>
                        </ion-col>
                        <ion-col [size]="1.5" class="display-flex">
                            <p class="text-white margin-auto">{{grupo.nameGrupo}}</p>
                        </ion-col>
                        <ion-col [size]="2" class="display-flex">
                            <p class="text-white margin-auto">{{grupo.aciertos_exactos}}</p>
                        </ion-col>
                        <ion-col [size]="2" class="display-flex">
                            <p class="text-white margin-auto">{{grupo.aciertos_parciales}}</p>
                        </ion-col>
                        <ion-col [size]="2" class="display-flex">
                            <p class="text-white margin-auto">{{grupo.no_aciertos}}</p>
                        </ion-col>
                        <ion-col [size]="4" class="display-flex">
                            <p class="text-white margin-auto">{{grupo.totalPartidosPronosticadosYCalculados}}</p>
                        </ion-col>
                    </ion-item>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col [size]="12" *ngIf="sinReportes" class="ion-no-padding ion-no-margin">
            <h4 class="text-white"> Sin reportes, puede que no hubo puntajes calculados en ninguno de los grupos. Verifique, por favor.</h4>
        </ion-col>
    </ion-row>
    
    <ion-row class="ion-no-padding ion-no-margin desenfoque" *ngIf="!sinReportes" >
        <ion-col class="ion-no-padding ion-no-margin">
            <h5 class="ion-no-margin text-grafico text-white " > Porcentaje de desempeño de aciertos de grupos</h5>
            <p class="ion-no-margin ion-no-padding text-white " style="padding-left: 1rem">(Sobre el total de partidos que fueron pronosticados y calculados)</p>
            <div class="display-flex" style="height: 300px;">
                <canvas id="myChart" ></canvas>
            </div>
        </ion-col>
    </ion-row>


         
    


</ion-content>
