<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-button slot="start"(click)="volver()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <p>Tabla de posiciones</p>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll">


  <ion-row>
    <ion-col *ngIf="isCargando" [size]="12">
      <p class="text-carga text-white"> Cargando tabla de puntajes, aguarde por favor... </p>
      <ion-progress-bar color="primary" class="barra-progreso" type="indeterminate"></ion-progress-bar>
    </ion-col>
  </ion-row>

  <div *ngIf="!isCargando">
    <ion-row class="ion-no-margin ion-no-padding desenfoque" >
      <ion-col [size]="12" class="ion-no-margin ion-no-padding">
        <ion-row class="ion-no-margin ion-no-padding" >
          <ion-col [size]="6" class="ion-no-margin ion-no-padding display-flex">
            <p class="text-white margin-auto">Club</p>
          </ion-col>
          <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
            <p class="text-white margin-auto">PJ</p>
          </ion-col>
          <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
            <p class="text-white margin-auto">G</p>
          </ion-col>
          <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
            <p class="text-white margin-auto">E</p>
          </ion-col>
          <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
            <p class="text-white margin-auto">P</p>
          </ion-col>
          <ion-col [size]="2" class="ion-no-margin ion-no-padding display-flex">
            <b class="text-white margin-auto">Pts</b>
          </ion-col>
        </ion-row>
          <ion-item class="border-light" *ngFor="let equipo of tablaPosiciones">

              <ion-col [size]="6" class="ion-no-margin ion-no-padding display-flex">
                <p class="text-white ion-no-margin ion-no-padding">{{equipo.rank}} <img class="logo-equipo" src="{{equipo.team.logo}}"> {{equipo.team.name}}</p>
              </ion-col>
              <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
                <p class="text-white ion-no-margin ion-no-padding margin-auto">{{equipo.all.played}}</p>
              </ion-col>
              <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
                <p class="text-white ion-no-margin ion-no-padding margin-auto">{{equipo.all.win}}</p>
              </ion-col>
              <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
                <p class="text-white ion-no-margin ion-no-padding margin-auto">{{equipo.all.draw}}</p>
              </ion-col>
            <ion-col [size]="1" class="ion-no-margin ion-no-padding display-flex">
              <p class="text-white ion-no-margin ion-no-padding margin-auto">{{equipo.all.lose}}</p>
            </ion-col>
              <ion-col [size]="2" class="ion-no-margin ion-no-padding display-flex">
                <b class="text-white ion-no-margin ion-no-padding margin-auto margin-auto">{{equipo.points}}</b>
              </ion-col>
           
 
          </ion-item>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

