<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white">Mi lista de competencias</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content class="bg-image no-scroll" [fullscreen]="true">
  
  <ion-row>
    <ion-col [size]="12" *ngIf="isCargando">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      <p class="text-white">Aguarde, cargando lista de competencias</p>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isCargando">
    <ion-col [size]="12">
      <ion-searchbar class="ion-no-margin ion-no-padding text-white searchbar" placeholder="Buscar competencia..." [(ngModel)]="filterTerm"
                     animated="true"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isCargando">
    <ion-row class="ion-no-padding row-popups popup-recordario">
      <ion-col [size]="10" class="ion-no-padding ion-no-margin">
        <p class="text-popup-edicion text-white ion-no-padding"> Para sumar una competencia a tu lista, debes darla de alta desde "Competencias del mundo"</p>
      </ion-col>
      <ion-col [size]="2" class="ion-no-padding ion-no-margin display-flex">
        <ion-row class="margin-auto">
          <ion-button expand="block" color="primary" (click)="irCompetenciasDelMundo()"> <p class="text-white ion-no-margin ion-no-padding text-size-medium">Ir</p></ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin row-popups popup-edicion" >
      <ion-col [size]="10" class="ion-no-padding ion-no-margin">
        <p class="text-popup-edicion ion-no-padding text-white">Para editar el nombre de una competencia hace click sobre el nombre y luego confirma en "editar".</p>
      </ion-col>
      <ion-col [size]="2" class="ion-no-padding ion-no-margin display-flex">
        <ion-row class="margin-auto">
          <ion-icon size="large" color="dark" name="information-circle-outline"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-col class="desenfoque" [size]="12" *ngIf="!isCargando">
      <!-- recorro la lista de competencias dadas de alta -->
      <ion-item class="ion-no-margin ion-no-padding" [ngClass]="competencia.yaEdito?'visualiza-editado':''"
                *ngFor="let competencia of competenciasAltas | filter:filterTerm" style="padding-bottom: 1rem ">
        <ion-grid>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="6">
              <ion-input (click)="cambioNombre(competencia)" [(ngModel)]="competencia.name" type="text"
                         class="text-competencias text-white"></ion-input>
            </ion-col>
            <ion-col [size]="2" class="ion-no-padding ion-no-padding">
              <!-- boton estado competencia -->
              <ion-toggle [checked]="competencia.activa==1" size="small" [disabled]="false"
                          (click)="estadoCompetencia(competencia)"></ion-toggle>
            </ion-col>
            <ion-col [size]="2" class="ion-no-padding ion-no-padding">
              <!-- boton edicion de competencia -->
              <ion-button size="small" class="button-disable-comp" color="warning"
                          [disabled]="!competencia.cambioNombre || !validarNombre(competencia)"
                          (click)="editComp(competencia)">
                <ion-icon name="pencil" size="medium"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col [size]="2" class="ion-no-padding ion-no-padding">
              <!-- Boton baja de competencia -->
              <ion-button size="small" color="danger" (click)="deleteCompetition(competencia)">
                <ion-icon name="trash" size="medium"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col [size]="12" class="ion-no-margin ion-no-padding">
              <ion-text color="danger" class="ion-no-margin ion-no-padding"
                        *ngIf="!validarNombre(competencia)">El nombre es obligatorio y debe tener al menos 3 caracteres
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row  style="padding-top: 11rem" *ngIf="!isCargando && competenciasAltas.length===0" >
    <ion-col [size]="12" class="display-flex">
      <ion-icon class="text-white margin-auto" color="danger" size="large" name="sad-outline"></ion-icon>
    </ion-col>
    <ion-col [size]="12" class="display-flex">
      <h3 class="text-white margin-auto">Sin competencias dadas de alta.</h3>
    </ion-col>
    <ion-col [size]="12" class="display-flex">
      <ion-button class="text-white margin-auto" color="primary" (click)="irAltaCompetencias()">Ir alta de competencias</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
