.button-disable-comp{
  text-align: right;
}

.visualiza-editado{
  background-color: lightgreen;
  position: relative;
  animation-name: mover;
  animation-duration: 1s;
  animation-iteration-count: initial;
}

@keyframes mover {
  from {left: 0px;}
  to {left: 50px;}
}



