<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title class="text">Competencias activas</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isCargando">
  <ion-searchbar class="ion-no-margin ion-no-padding searchbar" placeholder="Buscar competencia..." [(ngModel)]="filterTerm"
                 animated="true"></ion-searchbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col [size]="12" *ngIf="isCargando">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      <p>Aguarde, cargando TU lista de competencias</p>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isCargando">
    <ion-col [size]="12">
      <p class="ion-no-margin ion-no-padding"> Recordá desactivar las competencia que hayan culminado.</p>
      <p class="ion-no-margin ion-no-padding"> Si desactivas alguna competencia que está en curso los enfrentamientos se borrarán </p>
    </ion-col>
    <ion-col [size]="12">
        <ion-item [ngClass]="competencia.yaEdito?'visualiza-editado':''" *ngFor="let competencia of competenciasActivas | filter:filterTerm" style="padding-bottom: 1rem ">
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="6">
              <ion-input (click)="cambioNombre(competencia)" [(ngModel)]="competencia.name" class="text-competencias"></ion-input>
            </ion-col>
          <ion-col [size]="3">
            <ion-button size="small" class="button-disable-comp" color="warning" [disabled]="!competencia.cambioNombre" (click)="editComp(competencia)">EDITAR</ion-button>
          </ion-col>
            <ion-col [size]="3">
              <ion-button size="small" class="button-disable-comp" color="primary" (click)="desactivarComp(competencia)">DESACTIVAR</ion-button>
            </ion-col>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
