<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="volver()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="text-white">Edición de datos de partidos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-row class="ion-no-margin ion-no-padding">
    <ion-col [size]="12">
        <ion-item class="color-3">
            <ion-select class="text-white" [(ngModel)]="compActivas" (ngModelChange)="ngMode($event)" placeholder="Selecciona una competencia (activas)">
                <div *ngFor="let compActivas of competenciasActivas">
                    <ion-select-option class="text-white" [value]="compActivas"> {{compActivas.name}}</ion-select-option>
                </div>
            </ion-select>
        </ion-item>
    </ion-col>
</ion-row>






<ion-content class="bg-image no-scroll" [fullscreen]="true">
    <ion-row>
        <ion-col class="col-title-fechas" [size]="12">
            <p [ngClass]="!seleccionoUnaComp?'noHabilitado':'habilitado'" class="ion-no-padding ion-no-margin">Fechas:</p>
        </ion-col>
    </ion-row>
    <ion-row class="col-fechas">
        <ion-col [size]="12" class="display-flex" (click)="presentPopover($event)">
            <ion-select class="margin-auto text-white"  [disabled]="!seleccionoUnaComp" [value]="fechaAVisualizarPorActualidad" [(ngModel)]="fechaAVisualizarPorActualidad" (ngModelChange)="fechaEvent($event)" placeholder="Seleccione una fecha">
                <div *ngFor="let fechaComp of this.fechasCompetencia">
                    <ion-select-option class="text-white" value="{{fechaComp}}" (click)="filtrarPartidosPorFecha(fechaComp)"> {{fechaComp}}</ion-select-option>
                </div>
            </ion-select>
        </ion-col>
        
    </ion-row>
    
    <ion-row>
        <ion-col [size]="12" *ngIf="isCargando">
            <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
            <p class="text-white">Aguarde, cargando enfrentamientos.</p>
        </ion-col>
    </ion-row>

    <ion-grid>
        <ion-row>
            <ion-col [size]="12">
                <ion-list class="card-enfrentamiento" *ngFor="let enfrent of partidosAVisualizar | filter:competenciaSeleccionada">
                        <ion-row >
                            <ion-col [size]="12">
                                <ion-row>
                                    <ion-col [size]="4" >
                                        <ion-row>
                                          <img class="centrar" src="{{enfrent.logoLocal}}" style="height: 50%; width: 50%" >
                                        </ion-row>
                                        <ion-row>
                                            <ion-input (click)="isModifico(enfrent)"  class="centrar" name="nameLocal" [(ngModel)]="enfrent.nameLocal"  type="text" ngModel required></ion-input>
                                        </ion-row>
                                    </ion-col>
                                    <ng-template #other_content>
                                        <ion-col [size]="4" class="ion-no-padding display-flex">
                                                <ion-badge fill="outline" color="warning" class="margin-auto">
                                                    <p class="text-resultado margin-auto"> Falta jugar</p>
                                                </ion-badge>
                                        </ion-col>
                                    </ng-template>
                                    <ion-col [size]="4" *ngIf="enfrent.golLocal!=null || enfrent.golVisit!=null && (enfrent.short.includes('Finished'));else other_content">
                                        <ion-row style="margin-top:1.5rem">
                                            <ion-col class="ion-no-margin ion-no-padding display-flex" [size]="12">
                                                <p class="text-resultado margin-auto"> Resultado final</p>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row class="display-flex">

                                            <ion-col class="ion-no-margin ion-no-padding display-flex" [size]="5">
                                                <ion-input [disabled]="enfrent.isComparado==1" (click)="isModifico(enfrent, $event)"  class="ion-no-margin ion-no-padding text-goles" name="golLocal" [(ngModel)]="enfrent.golLocal"  type="number" ngModel required></ion-input>
                                            </ion-col>
                                            <ion-col class="ion-no-margin ion-no-padding display-flex" [size]="2">

                                            </ion-col>
                                            <ion-col [size]="5" class="ion-no-margin ion-no-padding display-flex">
                                                <ion-input [disabled]="enfrent.isComparado==1" (click)="isModifico(enfrent, $event)"  class="ion-no-margin ion-no-padding text-goles" name="golLocal" [(ngModel)]="enfrent.golVisit"  type="number" ngModel required></ion-input>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col [size]="4">
                                        <ion-row>
                                          <img class="centrar" src="{{enfrent.logoVisit}}" style="height: 50%; width: 50%" >
                                        </ion-row>
                                        <ion-row>
                                            <ion-input (click)="isModifico(enfrent)" class="centrar" name="nameVisit" [(ngModel)]="enfrent.nameVisit"  type="text" ngModel required></ion-input>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col [size]="12" class="display-flex">
                                        <ion-button [disabled]="!enfrent.modificoDatos" class="centrar" style="text-align: center" (click)="modificarDatosPartido(enfrent)">
                                            MODIFICAR
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
