.text-title-modificar-enfrentamientos{
  color: black;  
}

.centrar{
  margin:auto;
}

.display-flex{
  display: flex;
}

.col-size-resultados{
  height: 2.5rem;

}

.text-resultado{
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 600;
}

.text-goles{
  font-size: 2rem;
  font-weight: 600;
  width: 2.5rem;
  margin-left: 1rem;
}

.text-resultado-no-disponible{
  font-size: 1rem;
  font-weight: 600;
  text-align: center !important;
}

.noHabilitado{
  color: white;
}

.col-fechas{
  border-radius: 0.6rem;
  background-color: #FF7E4E;
  margin: 0rem 1rem 0rem 1rem
}

.card-enfrentamiento{
  border-radius: 0.6rem;
  margin: 0.4rem;
}

.habilitado{
  color: white;
}

.col-title-fechas{
  margin: 1rem 1rem 0rem 1rem;
}