<ion-header no-border>
    <ion-toolbar color="primary">

            <ion-button slot="start"(click)="volver()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              
            </ion-button>
                 <p>Grupos</p>
            <ion-button slot="end" (click)="irNotificacionesMiembrosPorAceptar()">
                <ion-icon name="notifications-outline" size="medium"></ion-icon>
                <ion-badge style="font-size: 1.3rem">{{cantidadNotificaciones}}</ion-badge>
            </ion-button>
        
    </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll">
    <ion-row style="margin-top: 1rem">
        <ion-col class="display-flex" [size]="6">
            <ion-button class="margin-auto" (click)="buscarGrupo()">
                <ion-icon name="search-outline"></ion-icon>
                <p> BUSCAR GRUPO</p>
            </ion-button>
        </ion-col>
        <ion-col [size]="6" class="display-flex">
            <ion-button class="margin-auto" (click)="crearGrupo()">
                <ion-icon name="add-outline"></ion-icon>
                <p> CREAR GRUPO</p>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="sinGruposUnido">
        <ion-col [size]="12">
            <p class="text-white text-size-medium">Aun no pertences a ningun grupo, busca y comenzá a competir</p>
        </ion-col>
    </ion-row>
   
    <ion-row>
        <ion-col *ngIf="isCargando" [size]="12">
            <p class="text-carga text-white"> Cargando grupos, aguarde por favor... </p>
            <ion-progress-bar color="primary" class="barra-progreso" type="indeterminate"></ion-progress-bar>
        </ion-col>
    </ion-row>
    
    <div *ngIf="!isCargando">
        <ion-row  *ngFor="let grupo of gruposDelUser">
            <ion-col [size]="12">
                <ion-list>
                    <ion-item class="border-light">
                        <a *ngIf="grupo.idUserCreador == this.idUserGreaGrupo"> <ion-badge class="text-white" style="margin-right: 1rem">Creador </ion-badge> </a>
                        <p class="text-white"> {{grupo.nameGrupo}}</p>
                        <ion-button *ngIf="grupo.idUserCreador != this.idUserGreaGrupo" (click)="salirDelGrupo(grupo)" slot="end" color="warning">
                            SALIR
                        </ion-button>
                        <ion-button *ngIf="grupo.idUserCreador == this.idUserGreaGrupo" (click)="editarGrupo(grupo)" slot="end" color="warning" >
                            EDITAR
                        </ion-button>
                        <ion-button *ngIf="grupo.idUserCreador == this.idUserGreaGrupo" (click)="borrarGrupo(grupo)" slot="end" color="danger" >
                            ELIMINAR
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </div>
   
</ion-content>
