<ion-content class="bg-image no-scroll desenfoque">
  <ion-row>
    <ion-col>
      <div class="icon-login">
        <img src="assets/img/football-icon-login.png">
      </div>
    </ion-col>
  </ion-row>
  <form>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="padding-bottom: 1rem">
            <h1 style="text-align: center; color: #F26633; font-weight: bold;">BIENVENIDO</h1>
          </div>
          <div style="padding: 1rem">
            <ion-item>
              <ion-input name="email" [(ngModel)]="user.email"  type="email" class="form-control" placeholder="julicapponi@hotmail.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <p class="text-white text-size-medium" (click)="resetearPass()" style="padding-left: 1rem">¿Olvidaste tu contraseña?</p>
      </ion-row>
      <ion-row style="padding:0.2rem">
        <ion-col>
            <ion-button (click)="signIn(user)" color="primary" type="submit" expand="block">Iniciar sesión</ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="registro()" color="secondary" size="medium" expand="block">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>


