<ion-header no-border>
  <ion-toolbar color="primary" style="-webkit-border-radius: 0px 0px 6px 6px">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p>
      Busca el grupo
    </p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-label class="label">Nombre grupo:</ion-label>
        </ion-col>
        <ion-item>
          <ion-input name="nameGrupo" [(ngModel)]="group.nameGrupo" type="text" class="form-control"
                     placeholder="Juan56"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row style="padding:0.2rem">
        <ion-col>
          <ion-button size="large" (click)="buscarGrupo(group)" expand="block">Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <ion-row *ngIf="isCargando">
    <ion-col [size]="1"></ion-col>
    <ion-col [size]="10">
      <p class="text-carga" > Cargando grupos, aguarde... </p>
      <ion-progress-bar color="primary" class="barra-progreso" type="indeterminate"></ion-progress-bar>
    </ion-col>
    <ion-col [size]="1"></ion-col>
  </ion-row>
  
  <ion-row class="row-message-alert" *ngIf="!isCargando && postulacionesEnGrupos.length>0">
    <ion-col [size]="12" class="display-flex">
      <p class="ion-no-padding margin-auto"><ion-icon name="alert-circle-outline"></ion-icon> Tienes <b style="font-size: 1.2rem">{{postulacionesEnGrupos.length}}</b> postulación pendiente, aguarda a que el administrador del grupo te acepte. </p>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="resultBusquedaGrupos?.length">
    <ion-col [size]="12">
      <h4 class="ion-color-dark">Resultado de la busqueda </h4>
    </ion-col>
  </ion-row>
  
  

  <ion-row *ngFor="let grupoResult of resultBusquedaGrupos">
    <ion-col [size]="12">
      <ion-list>
        <ion-item >
          <ion-label slot="start"> {{grupoResult.nameGrupo}}</ion-label>
          <ion-button *ngIf="grupoResult.idUserCreador != this.idUserGreaGrupo && !grupoResult.yaPostulado " slot="end" (click)="postularseAGrupo(grupoResult)">
            UNIRSE
          </ion-button>
          
          <ion-badge fill="outline" slot="end" color="warning" *ngIf="grupoResult.yaPostulado ">
            <p class="ion-no-padding text-white text-pendiente">ACEPTACIÓN</p>
            <p class="ion-no-padding text-white text-pendiente">PENDIENTE</p>
          </ion-badge>
          <ion-button *ngIf="grupoResult.idUserCreador == this.idUserGreaGrupo" color="danger" slot="end">
            TU ERES EL CREADOR
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
