<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title class="text">Competencias</ion-title>
      </ion-button>
    </ion-buttons>
    <p class="ion-no-margin ion-no-padding text-size-medium">Competencias del mundo</p>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isCargando">
    <ion-searchbar class="ion-no-margin ion-no-padding searchbar" placeholder="Buscar..." [(ngModel)]="filterTerm"
                   animated="true"></ion-searchbar>
  <p class="ion-no-margin text-aclaracion">Seleccione las competencias que desea sumar para que el usuario pueda pronosticar</p>
  <ion-col>
    <ion-button (click)="irListaComp()" color="primary" expand="block">Ir a mi lista</ion-button>
  </ion-col>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col [size]="12" *ngIf="isCargando">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      <p>Aguarde, cargando competencias</p>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isCargando">
    
    <ion-col [size]="12">
      
      <ion-list>
        <ion-row class="header-table-row">
          <ion-col [size]="2">

          </ion-col>
          <ion-col [size]="2">
            <h4 class="text-header-table ion-no-margin">ID</h4>
          </ion-col>
          <ion-col [size]="8">
            <h4 class="text-header-table ion-no-margin">Nombre</h4>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let competencia of listCompetitions | filter:filterTerm">
          <ion-row class="row-list">
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <img class="logo-competencia" src="{{competencia.league.logo}}">
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <ion-label class="text-competencias">{{competencia.league.id}}</ion-label>
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="7">
              <ion-label class="text-competencias">{{competencia.league.name}}</ion-label>
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="1">
              <ion-checkbox value="option" [(ngModel)]="competencia.league.isActiva" (click)="isChecked(competencia)" name="option"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col [size]="12" class="display-flex">
      <ion-button class="margin-auto" size="medium" color="primary" (click)="verMas()">
        <p>Ver más competencias</p>
      </ion-button>
    
    </ion-col>
    
  </ion-row>
</ion-content>
