<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-white">Alta de competencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll" [fullscreen]="true">
  <ion-row>
    <ion-col [size]="12" *ngIf="isCargando || isCargandoMasComp">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      <p class="text-white">Aguarde, cargando competencias</p>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="!isCargando" class="ion-no-margin">
    <ion-col [size]="12" class="ion-no-padding display-flex" style="margin-left: 0.2rem">
      <h5 class="text-white margin-auto">
        Seleccione la competencia que desea sumar a su lista para luego activarla
      </h5>
    </ion-col>
    <ion-col [size]="12" class="ion-no-margin ion-no-padding">
      <ion-row *ngIf="!isCargando" class="ion-no-margin">
        <ion-col [size]="7" class="ion-no-margin ion-no-padding" >
          <ion-searchbar class="ion-no-margin searchbar ion-no-padding desenfoque" placeholder="Buscar..." [(ngModel)]="filterTerm"
                         animated="true"></ion-searchbar>
        </ion-col>
        <ion-col [size]="5" class="ion-no-margin ion-no-padding display-flex">
          <ion-button [disabled]="isAgregandoCompetencia" size="small" class="margin-auto ion-no-padding" (click)="irListaComp()" color="primary" expand="block">
            <p class="ion-no-padding ion-margin text-white">Ir  "Mis competencias"</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="isAgregandoCompetencia" class="display-flex">
    <ion-col [size]="12" class="margin-auto">
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      <p class="ion-no-padding ion-no-margin text-white ">Dando de alta competencia, aguarde unos segundos...</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isCargando">
    <ion-col [size]="12">
        <!-- Lista de competencias activas retornadas por el servicio -->
        <ion-item class="desenfoque" *ngFor="let competencia of listCompetitions | filter:filterTerm">
          <ion-row class="row-list">
            <!-- Logo de liga -->
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <img class="logo-competencia" src="{{competencia.league.logo}}">
            </ion-col>
            <!-- id de liga -->
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <p class="text-competencias text-white">{{competencia.league.id}}</p>
            </ion-col>
            <!-- Nombre de liga -->
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="7">
              <p class="text-competencias text-white" [ngClass]="{'tachado': !competencia.league.anioActualOReciente}">{{competencia.league.name}}</p>
            </ion-col>
            <!-- Checkbox por liga, acción: checkear checkbox activa la competencia, descheckear desactiva la competencia -->
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="1" >
              <ion-checkbox value="option" [disabled]="isAgregandoCompetencia || !competencia.league.anioActualOReciente" [(ngModel)]="competencia.league.isAlta" [ngClass]="competencia.league.isAlta ? 'color-ion-checkbox-activa' : 'color-ion-checkbox'" 
                            class="color-ion-checkbox" (touchstart)="mostrarDesabilitado(competencia)" (click)="isChecked(competencia)" name="option"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-col>
    
    <ion-row>
      <ion-col [size]="12" *ngIf="isCargandoMasComp">
        <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
        <p class="text-white">Cargando mas competencias, aguarde...}</p>
      </ion-col>
    </ion-row>
    
    <ion-col *ngIf="faltaCargarTodasLasCompetencias" [size]="12" class="display-flex">
      <ion-row class="margin-auto ion-no-padding ion-no-margin text-white">
        <p>¿No encontraste nada? Selecciona acá para listar mas competencias: </p>
      </ion-row>
    </ion-col>
    <ion-col *ngIf="faltaCargarTodasLasCompetencias && !isCargandoMasComp" class="display-flex ion-no-padding ion-no-margin">
        <ion-button [disabled]="isAgregandoCompetencia" class="margin-auto" size="medium" color="primary" (click)="verMas()">
          Ver más competencias <i
                *ngIf="isCargandoMasComp"> <img src="./assets/img/loading-gif.gif" class="margin-auto" height="30px"
                                         width="30px"></i>
        </ion-button>
    </ion-col>

    <ion-col [size]="12" *ngIf="!faltaCargarTodasLasCompetencias" class="display-flex ion-no-padding ion-no-margin">
        <p class="text-white">Todas las competencias fueron cargadas y listadas. Asegurese de filtrar correctamente el nombre.</p>
    </ion-col>
    
  </ion-row>
</ion-content>
