<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
        Selección de competencia
    </ion-list-header>
    <ion-list>
      <ion-item *ngFor="let comp of competencia" class="item-comp">
        <ion-col [size]="2">
          <ion-img class="icon-flag" src="{{comp.flag}}"></ion-img>
        </ion-col>
        <ion-col [size]="8">
          <p>{{comp.name}} {{comp.anio}}</p>
        </ion-col>
        <ion-col [size]="2">
          <ion-checkbox [(ngModel)]='comp.activa' (change)="changeCheckout($event, comp)" (click)="activarCompetencia(comp)"></ion-checkbox>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>


