<ion-row class="content-select">
  <ion-col class="display-flex" [size]="3">
    <ion-menu-toggle>
      <ion-button fill="clear">
        <ion-icon class="margin-auto button-menu" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-col>
  
  <ion-col [size]="9">
    <ion-item no-lines lines="none" class="content-select">
      <ion-select class="text-default-select" [(ngModel)]="compActivas" (ngModelChange)="ngMode($event)"  placeholder="Selecciona una competencia">
        <div *ngFor="let compActivas of competenciasActivas">
          <ion-select-option class="text-select-option" [value]="compActivas"> {{compActivas.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>

<ion-content class="bg-image no-scroll">
  <ion-grid>
    <ion-row>
     
      <ion-col class="container-options-inicio desenfoque" >
        <ion-button class="container-options-inicio ion-no-margin ion-no-padding" fill="clear" [disabled]="isCargando" (click)="altaPronosticos()">
          <div class="contenido-options-inicio">
            <img class="img-options-inicio" src="assets/img/scoreboard.png" >
            <i class="text-grid-inicio" *ngIf="isCargando"> <img src="./assets/img/loading-gif.gif" class="margin-auto load-gif" height="45px" width="35px"></i>
            <p class="text-grid-inicio" *ngIf="!isCargando">PRONOSTICOS</p>
          </div>
        </ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="container-options-inicio desenfoque">
        <div class="contenido-options-inicio" (click)="irAResultadosFootball()">
          <img  class="img-options-inicio" src="assets/img/group-team.png">
          <p class="text-grid-inicio">GRUPOS</p>
        </div>
      </ion-col>
      <ion-col class="container-options-inicio desenfoque">
        <div>
          <img class="img-options-inicio" src="assets/img/podium.png">
          <p class="text-grid-inicio">PUNTAJES</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="container-options-inicio desenfoque">
        <div class="contenido-options-inicio">
          <img class="img-options-inicio" src="assets/img/champion.png">
          <p class="text-grid-inicio">CAMPEON</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
