<ion-row class="content-select">
  <ion-col class="ion-no-padding ion-no-margin display-flex" [size]="3">
    <ion-menu-toggle>
      <ion-button fill="clear" (click)="toggleMenu()">
        <ion-icon class="margin-auto button-menu" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-col>
  
  <ion-col class="ion-no-padding ion-no-margin" [size]="9">
    <ion-item no-lines lines="none" class="content-select display-flex">
      <ion-select class="text-default-select margin-auto" [(ngModel)]="compActivas" (ngModelChange)="ngMode($event)"  placeholder="Selecciona una competencia">
        <div *ngFor="let compActivas of competenciasActivas">
          <ion-select-option class="text-select-option" [value]="compActivas"> {{compActivas.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>

<ion-content class="bg-image no-scroll">
  <ion-grid class="ion-no-padding margin-grid">
    <ion-row>
      <ion-col class="col-slider-icon" [size]="12">
        <ion-icon class="animacion" *ngIf="ocultaSlider"size="large" (click)="ocultarSlider(false)" name="eye-off-outline"></ion-icon>
      </ion-col>
      <ion-col class="col-slider" *ngIf="!ocultaSlider" [size]="12">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding" style="position: relative">
            <ion-slides class="img-inicio" [options]="slideOptsOne">
              <ion-slide *ngFor="let item of images">
                <ion-row >
                    <ion-img [src]="item.url"></ion-img>
                    <ion-icon  style="position: absolute; top: 0; left: 0; margin: 30px 0 0 10px;" *ngIf="!ocultaSlider" size="large" (click)="ocultarSlider(true)" name="eye-outline"></ion-icon>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="container-options-inicio desenfoque" >
        <ion-button class="container-options-inicio ion-no-margin ion-no-padding" fill="clear" [disabled]="isCargando" (click)="altaPronosticos()">
          <div class="contenido-options-inicio">
            <img class="img-options-inicio" src="assets/img/scoreboard.png" >
            <p class="text-grid-inicio" *ngIf="isCargando">CARGANDO PRONOSTICOS...</p>
            <ion-progress-bar color="primary" class="barra-progreso-pronosticos"  *ngIf="isCargando" type="indeterminate"></ion-progress-bar>
            <p class="text-grid-inicio" *ngIf="!isCargando">PRONOSTICOS</p>
          </div>
        </ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="container-options-inicio desenfoque">

        <div class="contenido-options-inicio" (click)="irAResultadosFootball()">
          <p *ngIf="cantidadNotificaciones >0" class="text-grid-notificaciones ion-no-padding ion-no-margin primary"> {{cantidadNotificaciones }} <i  class="text-grid-notificaciones ion-no-padding ion-no-margin primary" *ngIf="cantidadNotificaciones>1">Notificaciones</i> <i  class="text-grid-notificaciones ion-no-padding ion-no-margin primary" *ngIf="cantidadNotificaciones==1">Notificación</i> </p>
          <img  class="img-options-inicio ion-padding" src="assets/img/group-team.png">
          <p class="text-grid-inicio">GRUPOS</p>
     
        </div>
      </ion-col>
      <!--
      <ion-col class="container-options-inicio desenfoque" (click)="tablaDePosiciones()">
        <div style="margin:auto">
          <img class="img-options-inicio" src="assets/img/podium.png">
          <p class="text-grid-inicio">TABLA DE POSICIONES</p>
        </div>
      </ion-col>
          -->
    </ion-row>
    
<!--
    <ion-row>
      <ion-col class="container-options-inicio desenfoque">
        <div class="contenido-options-inicio">
          <img class="img-options-inicio" src="assets/img/champion.png">
          <p class="text-grid-inicio">CAMPEON</p>
        </div>
      </ion-col>
    </ion-row>
    -->
  </ion-grid>
</ion-content>
