<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col [size]="1"></ion-col>
  <ion-col [size]="10">
    <p class="text-carga" *ngIf="isCargandoPartidos"> Cargando partidos, aguarde por favor... </p>
    <ion-progress-bar color="primary" class="barra-progreso"  *ngIf="isCargandoPartidos" type="indeterminate"></ion-progress-bar>
  </ion-col>
  <ion-col [size]="1"></ion-col>
</ion-row>


<ion-content>
  <div *ngIf="isCargandoPartidos">
    <app-animation-progress ></app-animation-progress>
    <app-animation-progress ></app-animation-progress>
    <app-animation-progress ></app-animation-progress>
    <app-animation-progress ></app-animation-progress>
  </div>

  <ion-col [size]="12">
    <ion-row *ngFor="let item of partidosPronosticados">
      <ion-col [size]="4"> {{item.userName}}  </ion-col>
      <ion-col [size]="4"> {{item.golVisitante}}</ion-col>
      <ion-col [size]="4"> {{item.golLocal}} </ion-col>

    </ion-row>
  </ion-col>
<ion-col [size]="12">
  <ion-row>
    <ion-select [(ngModel)]="fechaCompara" (ngModelChange)="fechaEvent($event)" placeholder="Jornada">
      <div *ngFor="let fechaComp of this.fechasCompetencia">
        <ion-select-option (click)="filtrarPartidosPorFecha(fechaComp)"> {{fechaComp}}</ion-select-option>
      </div>
    </ion-select>
  </ion-row>
</ion-col>

  <ion-card *ngFor="let part of partidos" class="ion-no-margin ion-no-padding">
    <ion-fab slot="fixed">
      <ion-fab-button>GUARDAR PRONOSTICO 1</ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed">
      <ion-fab-button (click)="guardarPronostico(part.fixture.id, part.teams.home.id, part.teams.away.id, part.teams.home.winner, part.teams.away.winner, part.goals.home, part.goals.away)">GUARDAR PRONOSTICO 2</ion-fab-button>
    </ion-fab>
    <ion-grid *ngIf="part.league.round.includes(fechaCompara)">
      <ion-row class="row-fecha" class="ion-no-margin ion-no-padding">
        <ion-col [size]="12" class="ion-no-margin ion-no-padding">
          <ion-item  class="ion-no-margin ion-no-padding">
            <ion-badge *ngIf="part.fixture.status.long.includes('Finished') || part.fixture.status.short.includes('FT') || part.fixture.status.short.includes('PEN')" slot="start" fill="outline">Finalizado</ion-badge>
            <ion-badge *ngIf="part.fixture.status.short.includes('1H') || part.fixture.status.short.includes('2H')" slot="start" fill="outline" style="background-color: red">Vivo</ion-badge>
            <ion-badge *ngIf="part.fixture.status.short.includes('HT')" slot="start" fill="outline" style="background-color: red">Vivo - Entretiempo</ion-badge>
            <ion-label slot="end" style="font-size: 0.8rem">  {{part.fixture.date | date :'dd/MM/yyyy HH:mm'}}  </ion-label>
            <ion-icon slot="end" name="help-outline" size="small"></ion-icon>
            <!--<ion-button fill="outline" slot="end">View</ion-button>-->
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="general">

        <ion-col *ngIf="part.fixture.status.long.includes('Finished') || part.fixture.status.short.includes('FT') || part.fixture.status.short.includes('PEN')"
          [size]="1" class=" ion-no-margin ion-no-padding col-puntaje">
          <ion-row class="puntaje-obtenido">
            <p >0 PTS</p>
          </ion-row>
        </ion-col>

        <ion-col [size]="11">
          <ion-row class="row-local">
            <ion-col [size]="0.5">
              <ion-row>
                <ion-label class="text-resultado-culminado">{{part.goals.home}}</ion-label>
              </ion-row>
            </ion-col>
            <ion-col [size]="11.5" class="col-local">
              <ion-item class="ion-activated">
                <ion-label [ngClass]="part.teams.home.winner?'text-negrita':'text-normal'"> <img class="logo-equipo" src="{{part.teams.home.logo}}"> {{part.teams.home.name}} </ion-label>
                <ion-icon name="remove-circle-outline" slot="end" size="small" (click)="calcularResultado(part.teams.home.id, part.fixture.id, false, true)"></ion-icon>
                <ion-label slot="end"><p *ngIf="idEquipoLocal === part.teams.home.id">{{this.golesLocal}}</p></ion-label>
                <ion-icon name="add-circle-outline" slot="end" size="small" (click)="calcularResultado(part.teams.home.id, part.fixture.id, true, true)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="row-visitante">
            <ion-col [size]="0.5">
              <ion-row>
                <ion-label class="text-resultado-culminado">{{part.goals.away}}</ion-label>
              </ion-row>
            </ion-col>
            <ion-col [size]="11.5" class="col-visitante">
              <ion-item class="ion-activated">
                <ion-label [ngClass]="part.teams.away.winner?'text-negrita ':'text-normal'"> <img class="logo-equipo" src="{{part.teams.away.logo}}"> {{part.teams.away.name}}</ion-label>
                <ion-icon name="remove-circle-outline" slot="end" size="small" (click)="calcularResultado(part.teams.away.id, part.fixture.id, false, false)"></ion-icon>
                <ion-label slot="end"><p *ngIf="idEquipoVisitante === part.teams.away.id">{{this.golesVisitante}}</p></ion-label>
                <ion-icon name="add-circle-outline" slot="end" size="small" (click)="calcularResultado(part.teams.away.id, part.fixture.id, true, false)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>



