<ion-header>
  <ion-toolbar>
    <ion-title>inicioAdministrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item class="item" (click)="listaDeUsers()">
      <img class="icon" src="assets/icon/list-check-solid.svg">
      <ion-label >Listado de usuario registrados</ion-label>
    </ion-item>
    <ion-item class="item" >
      <ion-label>Alta de usuario</ion-label>
    </ion-item>
    <ion-item class="item" (click)="competencias()">
      <ion-label>Competencias</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
