<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title class="text">Lista de usuarios</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-header *ngIf="!isCargando">
  <ion-searchbar class="ion-no-margin ion-no-padding searchbar" placeholder="Buscar..." [(ngModel)]="filterTerm"
                 animated="true"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col [size]="12" *ngIf="isCargando">
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
      <app-animation-progress></app-animation-progress>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isCargando">
    <ion-col [size]="12">
      <ion-list>
        <ion-row class="header-table-row">
          <ion-col [size]="4">
            <h4 class="text-header-table ion-no-margin">Nombre</h4>
          </ion-col>
          <ion-col [size]="4">
            <h4 class="text-header-table ion-no-margin">Email</h4>
          </ion-col>
          <ion-col [size]="4">
            <h4 class="text-header-table ion-no-margin">Acciones</h4>
          </ion-col>
        </ion-row>
        
          <ion-row *ngFor="let user of listUsers | filter:filterTerm" class="row-list">
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="3">
              <ion-label class="text-competencias">{{user.name}}</ion-label>
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="5">
              <ion-label class="text-competencias">{{user.email}}</ion-label>
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <ion-button style="text-align: center" (click)="editarUser(user)">
                <img src='assets/icon/edit.png'>
              </ion-button>
            </ion-col>
            <ion-col class='col-grid ion-no-margin ion-no-padding' [size]="2">
              <ion-button style="text-align: center" (click)="borrarUser(user)">
                <img src='assets/icon/delete.png'>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
