/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg-image{
  --background: url('assets/img/background/bg-4.jpg')0 0/100% 100% no-repeat;

}

.desenfoque{
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(243,243,243,0.1);
}

.text-size-small{
  font-size: 1rem;
}

.text-size-medium{
  font-size: 1.2rem;
}

.text-size-large{
  font-size: 1.4rem;
}

.text-white{
  color: white;
}

.container-options-inicio{
  display: flex;
  margin: 0.5rem;
  border-radius: 1rem;  
}

.contenido-options-inicio{
  margin: auto;
}

.img-options-inicio{
  width: 50%;
  display:block;
  margin:auto;
}

.no-scroll .scroll-content{
    overflow: hidden;
}

.display-flex{
  display: flex;
}

.button-menu{
  font-size: 34px; //Preferred size here
}

.margin-auto{
  margin: auto;
}
ion-content{
  //background-image: url("paper.gif");
  --ion-background-color:white ;
}

.text-header{
  font-size: 1rem;
}
